.App {
  text-align: center;
  max-width: 1400px; 
  width: 100%; 
  margin: 0 auto;
  padding: 20px; 
  box-sizing: border-box; 
  min-width: 320px; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: black;
  width: 100%;
  padding-top: 20px; 
  position: relative;
}
.App-link {
  color: #61dafb;
}

.title {
  font-size: 38px; 
  font-weight: bold;
  color: black; 
  z-index: 1000; 
}

.form-row {
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  display: flex; 
  gap: 20px;
}

.file-upload {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.file-upload button {
  margin-left: 10px;
}
.file-upload input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.tokenizerSelectContainer {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start; 
  position: absolute;
  top: 20px;
  right: 20px; 
  width: auto;
  padding: 20px;
  box-sizing: border-box; 
}

.tokenizerSelectContainer select {
  width: 250px; 
  padding: 10px; 
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 1.5;
  background-color: #fff;
  border: 2px solid black; 
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
  cursor: pointer;
}

.tokenizerSelectContainer select:hover,
.tokenizerSelectContainer select:focus {
  background-color: #525c6a;
  border: 2px solid black; 
  border-radius: 5px;
  color: #fff;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

button:hover {
  background-color: #525c6a;
  color: #fff;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #282c34;
  border: none;
}

.tokenizerConfigButton {
  padding: 10px 20px;
  margin-top: 20px;  
  margin-bottom: 20px;
  text-align: center;
  width: auto;
  display: inline-block; 
}
.file-upload + .tokenizerConfigButton {
  margin-top: 10px; 
}
.tokenizerConfigContainer {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

select:hover,
select:focus {
  border-color: #525c6a;
}

select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

select:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

#tokenizerSelect {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-row input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

label {
  display: flex;
  align-items: center; 
  gap: 3px;
}
.form-row input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row input[type="text"]:hover,
.form-row input[type="text"]:focus {
  border-color: #525c6a;
}

.tokenizerConfig {
  font-size: 16px;

  width: 100%; 
  max-width: 800px; 
  margin-left: 10px; 
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-left: 80px;
}

.example-thumb .thumb-value {
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 8px;
}

.example-thumb:hover .thumb-value {
  opacity: 1; 
}

.example-thumb {
  cursor: pointer;
  z-index: 100;
  background: #ffffff;
  border: 3px solid #4d505a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 44%);
  width: 18px;
  height: 18px;
  transform: translateY(-10%); 
  transition: transform 0.3s ease, opacity 0.2s ease;
}

.example-thumb:hover {
  transform: scale(2) translateY(-10%);
}

.example-track {
  position: relative;
  background: #ddd;
  height: 5px;
  border-radius: 3px;
}

.example-track.example-track-0 {
  background: #4d505a;
}
.example-track.example-track-2 {
  background: #4d505a;
}

.horizontal-slider .example-track {
  top: 16px;
}

.horizontal-slider .example-thumb {
  top: 10px;
  outline: none;
}



input[type="checkbox"] {
  appearance: none; 
  width: 18px; 
  height: 18px;
  background-color: #fff; 
  border: 2px solid #4d505a; 
  border-radius: 5px; 
  position: relative; 
  cursor: pointer; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #4d505a; 
}


input[type="checkbox"]:hover {
  transform: scale(1.2);
  transition: 0.2s ease;
}

.grid-layout {
  display: grid;
  grid-template-columns: 700px 1fr; 
  gap: 8px;
  max-width: 100vw;
}

.left-column,
.right-column {
  max-height: 70vh; 
  overflow-y: auto; 
  white-space: nowrap; 
  border-bottom: 1px solid gray; 
}

.left-column {
  margin-top: 40px; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
